original code from: https://www.data-blogger.com/2017/02/24/gathering-tweets-with-python/

## Cashtag Scraper 
https://stackoverflow.com/questions/14156625/fetching-tweets-with-hashtag-from-twitter-using-python

http://followthehashtag.com/datasets/nasdaq-100-companies-free-twitter-dataset/

Fetching tweets with a certain hashtag

### Another version, saving tweets in a dataframe
last of the replies in https://stackoverflow.com/questions/44948628/how-to-take-all-tweets-in-a-hashtag-with-tweepy

Time zone seems to be GMT!! Two hours behind EET.

Scrape cashtags: ** TMUS, WDC, EXPE, MDLX, INCT, ADP, TXN, CERN, AAL, FISV ** <br>
GILD	SBUX	   (excluded: CSCO MSFT	GOOG NFLX	GOOGL NVDA)

In [1]:
import tweepy
import pandas as pd
import os

consumer_key= ["insert your own here"]
consumer_secret= ["insert your own here"]
access_key= ["insert your own here"]
access_secret= ["insert your own here"]

#Twitter Access
auth = tweepy.OAuthHandler( consumer_key,consumer_secret)
auth.set_access_token(access_key,access_secret)
api = tweepy.API(auth,wait_on_rate_limit = True)

To get the full lenghts of the tweet texts, make sure to add **tweet_mode="extended"** and **tweet.full_text** in the code below!

In [8]:
df = pd.DataFrame()
msgs = []
msg =[]

for tweet in tweepy.Cursor(api.search, q='$AAL', rpp=100, tweet_mode="extended").items(3000): 
    #msg = [tweet.created_at, tweet.text, tweet.retweet_count, tweet.favorite_count] 
    msg = [tweet.created_at, tweet.full_text, tweet.user.followers_count] #choose the twitter data for your df
    msg = tuple(msg)                    
    msgs.append(msg)

df = pd.DataFrame(msgs)

In [9]:
df.columns = ['created at', 'text', 'follower count']
df.tail()

,created at,text,follower count
441,2019-03-21 23:25:21,$10.71 Billion in Sales Expected for American ...,259
442,2019-03-21 23:23:45,American Airlines Group Inc $AAL Expected to A...,506
443,2019-03-21 23:11:27,$AAL Learn more about the zigzag #Elliottwave ...,18648
444,2019-03-21 23:06:44,$AAL Correction from the highs seen as a zigza...,18648
445,2019-03-21 22:05:04,#ThursdayThoughts $AAL Bullish Tweezer Bottom ...,4202

### Make dataframe into excel file

In [10]:
import xlsxwriter
import os

writer_df = pd.ExcelWriter('df.xlsx', engine='xlsxwriter')
df.to_excel(writer_df)
writer_df.save()

os.rename('df.xlsx', '$AAL_tweets.xlsx') # Update cashtag!